In [1]:
# import relevant libraries
import pandas as pd
import requests
import time

url_sql = "https://api.opendota.com/api/explorer"

In [7]:
test = "SELECT * FROM player_matches WHERE match_id BETWEEN 3710610589 AND 5000000000 LIMIT 5"

params = {"sql": test}

response = requests.get(url=url_sql, params=params)

print(response)

data = response.json()

data

df = pd.DataFrame(data["rows"])

# n = 
df

<Response [200]>

,match_id,account_id,player_slot,hero_id,item_0,item_1,item_2,item_3,item_4,item_5,...,roshans_killed,observers_placed,party_size,ability_targets,damage_targets,dn_t,connection_log,backpack_3,item_neutral,net_worth
0,3710610589,125581247,0,72,50,185,117,116,212,154,...,0,0,None,{'gyrocopter_homing_missile': {'npc_dota_hero_...,"{'null': {'npc_dota_hero_abaddon': 2179, 'npc_...","[0, 1, 2, 3, 5, 8, 12, 12, 12, 13, 14, 15, 15,...",[],None,0,13829
1,3710610589,106863163,1,11,116,154,60,100,36,63,...,1,0,None,{},"{'null': {'npc_dota_hero_viper': 1241, 'npc_do...","[0, 2, 3, 3, 9, 10, 11, 12, 12, 14, 15, 15, 15...",[],None,0,15655
2,3710610589,94296097,2,3,180,36,43,265,244,31,...,0,8,None,"{'bane_enfeeble': {'npc_dota_hero_viper': 6, '...","{'null': {'npc_dota_hero_viper': 251, 'npc_dot...","[0, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...",[],None,0,3874
3,3710610589,101695162,3,62,50,36,92,131,181,0,...,0,4,None,{'bounty_hunter_shuriken_toss': {'npc_dota_her...,{'bounty_hunter_wind_walk': {'npc_dota_hero_ti...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],None,0,5705
4,3710610589,94738847,4,108,48,242,90,178,30,187,...,0,0,None,{},"{'null': {'npc_dota_hero_abaddon': 520, 'npc_d...","[0, 0, 1, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",[],None,0,11745

In [8]:
df.columns

Index(['match_id', 'account_id', 'player_slot', 'hero_id', 'item_0', 'item_1',
       'item_2', 'item_3', 'item_4', 'item_5', 'kills', 'deaths', 'assists',
       'leaver_status', 'gold', 'last_hits', 'denies', 'gold_per_min',
       'xp_per_min', 'gold_spent', 'hero_damage', 'tower_damage',
       'hero_healing', 'level', 'additional_units', 'stuns', 'max_hero_hit',
       'times', 'gold_t', 'lh_t', 'xp_t', 'obs_log', 'sen_log', 'purchase_log',
       'kills_log', 'buyback_log', 'lane_pos', 'obs', 'sen', 'actions',
       'pings', 'purchase', 'gold_reasons', 'xp_reasons', 'killed',
       'item_uses', 'ability_uses', 'hero_hits', 'damage', 'damage_taken',
       'damage_inflictor', 'runes', 'killed_by', 'kill_streaks', 'multi_kills',
       'life_state', 'damage_inflictor_received', 'obs_placed', 'sen_placed',
       'creeps_stacked', 'camps_stacked', 'rune_pickups', 'obs_left_log',
       'sen_left_log', 'ability_upgrades_arr', 'party_id', 'permanent_buffs',
       'backpack_0', 'backpack_1', 'backpack_2', 'runes_log', 'lane',
       'lane_role', 'is_roaming', 'firstblood_claimed',
       'teamfight_participation', 'towers_killed', 'roshans_killed',
       'observers_placed', 'party_size', 'ability_targets', 'damage_targets',
       'dn_t', 'connection_log', 'backpack_3', 'item_neutral', 'net_worth'],
      dtype='object')

In [9]:
n = 3710610588

df_players_matches_items = pd.DataFrame()

while n < 8721721938:
  test = f"SELECT match_id, account_id, hero_id, item_0, item_1, item_2, item_3, item_4, item_5 FROM player_matches WHERE match_id BETWEEN {n} AND {n + 75000000}"
  params = {"sql": test}
  n += 75000000
  response = requests.get(url=url_sql, params=params)

  data = response.json()
  df_temp = pd.DataFrame(data["rows"])

  df_players_matches_items = pd.concat([df_players_matches_items, df_temp], axis=0)
  time.sleep(2)
  print(df_players_matches_items.shape)

df_players_matches_items.shape

(10310, 9)
(22080, 9)
(29550, 9)
(36250, 9)
(40870, 9)
(52600, 9)
(68590, 9)
(82620, 9)
(94860, 9)
(103610, 9)
(112540, 9)
(124050, 9)
(135290, 9)
(145000, 9)
(156150, 9)
(168260, 9)
(185950, 9)
(207440, 9)
(239930, 9)
(266480, 9)
(293780, 9)
(319180, 9)
(355350, 9)
(388000, 9)
(416610, 9)
(441330, 9)
(473380, 9)
(497550, 9)
(516320, 9)
(532340, 9)
(551940, 9)
(571120, 9)
(593640, 9)
(614700, 9)
(646760, 9)
(666430, 9)
(695840, 9)
(726810, 9)
(768910, 9)
(808490, 9)
(837530, 9)
(860540, 9)
(894950, 9)
(934940, 9)
(978430, 9)
(1018440, 9)
(1065350, 9)
(1107970, 9)
(1143290, 9)
(1181580, 9)
(1215272, 9)
(1257452, 9)
(1299342, 9)
(1321392, 9)
(1321392, 9)
(1321392, 9)
(1321392, 9)
(1321392, 9)
(1321392, 9)
(1321392, 9)
(1321392, 9)
(1321392, 9)
(1321392, 9)
(1321392, 9)
(1321392, 9)
(1321392, 9)
(1321392, 9)

(1321392, 9)

In [10]:
df_players_matches_items

,match_id,account_id,hero_id,item_0,item_1,item_2,item_3,item_4,item_5
0,3710610589,125581247.0,72,50.0,185.0,117.0,116.0,212.0,154.0
1,3710610589,106863163.0,11,116.0,154.0,60.0,100.0,36.0,63.0
2,3710610589,94296097.0,3,180.0,36.0,43.0,265.0,244.0,31.0
3,3710610589,101695162.0,62,50.0,36.0,92.0,131.0,181.0,0.0
4,3710610589,94738847.0,108,48.0,242.0,90.0,178.0,30.0,187.0
...,...,...,...,...,...,...,...,...,...
22045,7738467527,412232719.0,126,50.0,598.0,77.0,41.0,36.0,77.0
22046,7738467527,316217576.0,62,50.0,204.0,11.0,75.0,0.0,36.0
22047,7738467527,906372983.0,35,36.0,75.0,75.0,172.0,63.0,25.0
22048,7738467527,425280496.0,103,36.0,185.0,0.0,50.0,0.0,0.0
22049,7738467527,998950885.0,128,36.0,63.0,174.0,244.0,73.0,73.0

In [12]:
df_players_matches_items.shape, df_players_matches_items.drop_duplicates().shape

((1321392, 9), (1321391, 9))

In [14]:
project_id = "dota-2-77927"

df_players_matches_items.to_gbq("dota2.players_matches_items", project_id=project_id)

/tmp/ipykernel_281411/1796113056.py:3: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  df_players_matches_items.to_gbq("dota2.players_matches_items", project_id=project_id)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1/1 [00:00<00:00, 16844.59it/s]